################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/GinkgoCode/v15/.suo
/.vs
/GinkgoCode/bin/Debug
/GinkgoCode/obj
/CodeGen/bin/Debug
/CodeGen/obj/Debug
/CodeVsix/bin/Debug
/CodeVsix/obj
/CodeVsix/bin/Release
